fastapi[all]==0.115.12
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.45
alembic==1.15.2
psycopg2-binary==2.9.10
passlib==1.7.4
python-jose[cryptography]
python-multipart==0.0.20
dotenv==0.9.9
redis==5.2.1